* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cooper Hewitt';
  font-size: 16px;
  background-color: #004d9d;
  color: #fff;
}

header {
  position: fixed;
  top: 20px;
  left: 20px;
}

header h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

section {
  height: 100vh;
  background-image: url(images/sally_1.jpg);
  background-size: cover;
  background-attachment: fixed;
}

footer {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin-right: 5px;
}

footer a:hover {
  color: #ddd;
}

.image_2 {
  background-image: url(images/sally_2.jpg);
}

.image_3 {
  background-image: url(images/sally_3.jpg);
}

.image_4 {
  background-image: url(images/sally_4.jpg);
}

.image_5 {
  background-image: url(images/sally_5.jpg);
}

.image_6 {
  background-image: url(images/sally_6.jpg);
}

.image_7 {
  background-image: url(images/sally_7.jpg);
}

.image_8 {
  background-image: url(images/sally_8.jpg);
}